body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f6f9;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.remito-info {
    display: flex;
    justify-content: space-between; /* izquierda - derecha */
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}

.img {
    width: 60px;
    height: 60px;
}
.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    flex: 1;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #00aeff;
    color: white;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background: #00aeff;
    color: white;
}

.total-row {
    display: flex;
    justify-content: space-between; /* separa izquierda y derecha */
    align-items: center;
    margin-top: 30px;
}

.firmas {
    display: flex;
    gap: 40px; /* separación entre firmas */
}

.firma {
    font-size: 14px;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.btn-print {
    background: green;
    margin-top: 15px;
}

.copia {
    display: none;
}
/* ===================== */
/*        IMPRESIÓN      */
/* ===================== */

@page {
    size: A4;
    margin: 10mm;
}

@media print {

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background: white;
    }

    /* Ocultar botones y formulario */
    button,
    .form-group,
    .btn-print,
    .no-print {
        display: none !important;
    }

    /* Mostrar las dos copias */
    .copia {
        display: block !important;
    }

    /* Estilo de cada boleta */
    .container {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        border: 2px solid black;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 25px; /* separación entre copias */
        page-break-inside: avoid;
    }

}